.ProfileButtonContainer{  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9vw;
  height: 9vw;
  background: black;
  margin-left: 4vw;
  border-radius: 50%;
}
.ProfileButton{
  width: 7vw;
  height: 7vw;
  background: transparent;
  border: 0.5vw solid rgba(70,70,70,1);
  border-radius: 50%;
}
