.ProfileButtonContainer{  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
  height: 8vw;
  background: rgba(90,90,90,0.4);
  margin-left: 4vw;
  border-radius: 70%;
}
.ProfileButton{
  width: 7vw;
  height: 7vw;
  background: transparent;
  border: none;
}
