.ItemCard{
  width: 40vw;
  height: 44vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--bg-Card);
  border-radius: 2vw;
  border: none;
  margin: 5vw;
  box-sizing: border-box;
}
.ItemCardImg{
  width: 32vw;
  height: 32vw;
}

.Coloring{
  border: 1vw solid #FF8911;
}

