:root{
  --LotterContainer-height: 80vh;
  --LotterContainer-width: 90vw;
  --LotteryFeild: 18vw;
}

.LotteryContainer{
  margin-top: 5vw;
  margin-left: 5vw;
  margin-right: 5vw;
  display: grid;
  grid-template-columns: repeat(5,var(--LotteryFeild));
  grid-template-rows: repeat(4,var(--LotteryFeild));
}

