.MenuListContainer{
  margin-top: 3vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.animationMenuListCreate{
  animation-name: menuList-apperance;
  animation-fill-mode: forwards;
  animation-duration: 0.25s;
}
.animationMenuListRemove{
  animation-name: menuList-apperance;
  animation-fill-mode: forwards;
  animation-duration: 0.25s;
  animation-direction: reverse;
}

@keyframes menuList-apperance {
  0%{
    margin:0;
  } 
  100%{
    margin-top: 3vw;
  }
}
.MenuItem{
  margin: 1.5vw 0;
  width: 100vw;
  font-size: 5.5vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.17vw;
  opacity: 0.85;
}
.animationMenuCreate{
  animation-name: menu-apperance;
  animation-fill-mode: forwards;
  animation-duration: 0.25s; 
}
.animationMenuRemove{
  animation-name: menu-apperance;
  animation-fill-mode: forwards;
  animation-duration: 0.25s; 
  animation-direction: reverse;
}
@keyframes menu-apperance {
  0%{
    font-size: 0;
    margin: 0;
  } 
  100%{
    font-size: 5.5vw;
    margin: 1.5vw 0;
    letter-spacing: 0.17vw;
    opacity: 0.85;
  }
}
.Line{
  border: none;
  margin-top: 1.2vw;
  height: 0.1vw;
  width: 90vw;  
  background: rgba(70,70,70,0.5);
}
.animationLineCreate{
  animation-name: line-apperance;
  animation-fill-mode: forwards;
  animation-duration: 0.25s; 
}
.animationLineRemove{
  animation-name: line-apperance;
  animation-fill-mode: forwards;
  animation-duration: 0.25s; 
  animation-direction: reverse;
}

@keyframes line-apperance {
  0%{
    background: transparent;
    height: 0;
    width: 0;  
  } 
  100%{
    height: 0.1vw;
    width: 90vw;  
    background: rgba(70,70,70,0.5);
    margin-top: 1.2vw;
  }
}
