*{
  margin:0;
  color: var(--tg-theme-text-color) ;
  font-family: "Font";
}
body{
  background: var(--tg-theme-header-bg-color);
}
*::-webkit-scrollbar{
  display: none
}
:root{
  --bg-Card: rgba(50,50,50,0.5);
}
@font-face {
  font-family: "Font";
  src: url("./fonts/SFProText-Bold.ttf");
  font-weight: 700;
  font-style: bold;
}
